@using System.Security.Claims
@{
var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
}
<nav class="sidebar">
  <div class="logo">
    <img src="~/images/logo.png" alt="Logo" class="logo-img">
    <h1>E-Learning</h1>
  </div>

  <ul class="nav-links">
    @if (userRole == "Admin")
    {
    <li><a href="@Url.Action("Index", "Dashboard" , new { area="Admin" })"><i class="fas fa-tachometer-alt"></i><span>Tổng quan</span></a></li>
    <li><a href="@Url.Action("Index", "QuanLyNguoiDung" , new { area="Admin" })"><i class="fas fa-user-cog"></i><span>Quản lý tài khoản người dùng</span></a></li>
    <li><a href="@Url.Action("Index", "QuanLyHocPhan" , new { area="Admin" })"><i class="fas fa-book-open"></i><span>Quản lý học phần</span></a></li>
    <li><a href="@Url.Action("Index", "QuanLyKhoa" , new { area="Admin" })"><i class="fas fa-university"></i><span>Quản lý khoa</span></a></li>
    <li><a href="@Url.Action("Index", "QuanLyBoMon" , new { area="Admin" })"><i class="fas fa-sitemap"></i><span>Quản lý bộ môn</span></a></li>
    }
    else if (userRole == "Giangvien" || userRole == "Sinhvien")
    {
    <li>
      <a href="/User/LopHoc/Index">
        <i class="fas fa-home"></i>
        <span>Trang chủ</span>
      </a>
    </li>


    @await Component.InvokeAsync("KhoaListMenu")
    @await Component.InvokeAsync("BaiGiangListMenu")
    }
    @if (userRole == "Giangvien")
    {
    <li><a href="/User/QuanLyBaiGiang/Index"><i class="fas fa-book"></i><span>Quản lý bài giảng</span></a></li>
    <li><a href="/User/QuanLyChuong/Index"><i class="fas fa-book"></i><span>Quản lý chương</span></a></li>
    <li><a href="/User/QuanLyBai/Index"><i class="fas fa-book"></i><span>Quản lý bài</span></a></li>
    }
  </ul>
</nav>